.side-drawer {
  padding-top: 5vh;
  height: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  transform: translateX(100%);
  transition: transform 1s ease-out;
  color: white;
}

.side-drawer.open {
  transform: translateX(0);
}

.nav_icon_con {
  margin: 20px
}

.nav_icons {
  height: 2px;
  width: 30px;
  background: #fff;
  border-radius: 10px;
  margin: auto;
  margin-top: 5px;
}

.text_close {
  margin: 20px;
  font-size: 35px;
  color: white;
}

.route_top_con {
  width: 100%;
  height: 10%;
  margin-top: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.route_top_name {
  transform: scaleX(1) scaleY(-1);
}

.route_item_con {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 85%;
  padding-left: 20px;
  padding-right: 20px;
}

.route_item {
  color: #aaa;
  text-decoration: none;
  width: 49%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 18px;
  border-bottom: 1px solid #aaa;
  font-family: F37Judge;
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
}

.mobile_nav_con {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.mobile_nav {
  display: none;
}

.desktop_nav {
  margin-top: 30px;
  display: visible;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.desktop_nav span {
  margin-right: 20px 
}

.desktop_nav button {
  background-color: transparent;
  padding: 5px 10px;
  color: #ccc;
  border-color: #ccc;
}

.slider_con {
  width: 100%;
  background: #000;
  height: 100%;
}

@media (max-width: 967px) {
  .mobile_nav {
    display: block;
  }
}

@media (max-width: 967px) {
  .desktop_nav {
    display: none;
  }
}