.logo_upright {
  transform: scaleY(1);
}

.logo_inverted {
  transform: scaleY(-1);
  transition: opacity;
  transition-timing-function: ease-out;
  transition-delay: 1s;
  transition-duration: 1s;
  border: none !important;
}

.home_main {
  background-image: url(../../assets/images/bg.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}