.obelisk_main {
  background-image: url(../../assets/images/square-grid.png);
  background-position: center;
  background-size: 200px;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
  padding-right: 5rem;
  padding-left: 5rem;
}

.obelisk_header {
  font-family: F37Judge;
  font-size: 120px;
  text-transform: uppercase;
  letter-spacing: .03em;
  text-align: center;
  line-height: .9;
}

.obelisk1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 30vh;
}

.obelisk1>p {
  max-width: 400px;
  font-family: Coanda-Regular;
  margin: auto;
}

.obelisk1>button {
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  background-color: hsla(0, 0%, 100%, .1);
  margin: auto;
  outline: none;
  border: none;
}

.obelisk2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 30vh;
}

.obelisk2>h1 {
  font-family: F37Judge;
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: .03em;
  text-align: center;
  line-height: .9;
}

.obelisk2>p {
  max-width: 400px;
  font-family: Coanda-Regular;
  margin: auto;
}

.obelisk_second_sec {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.obelisk3 {
  padding: 4%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 30vh;
}

.obelisk3>h1 {
  font-family: F37Judge;
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: .03em;
  text-align: center;
  line-height: .9;
}

.obelisk3>p {
  max-width: 400px;
  font-family: Coanda-Regular;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .obelisk_main {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .obelisk3 {
    width: 80%;
  }

  .obelisk_header {
    font-size: 100px;
    letter-spacing: .03em;
    line-height: .9;
  }

  .obelisk3>h1 {
    font-size: 70px;
  }

  .obelisk2>h1 {
    font-size: 70px;
  }
}