.world_main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
  padding-top: 25vh;
  padding-left: 5rem;
  padding-right: 5rem;
}

.world_header {
  font-family: F37Judge;
  font-size: 120px;
  text-transform: uppercase;
  letter-spacing: .04em;
  text-align: center;
  line-height: .9;
  justify-content: center;
}

.world_main>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 30vh;
}

.world_main>div>p {
  max-width: 400px;
  font-family: Coanda-Regular;
  margin: auto;
}

.world_main>div>button {
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  background-color: hsla(0, 0%, 100%, .1);
  margin: auto;
  border: none;
}

@media screen and (max-width: 767px) {
  .world_main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}