@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

@font-face {
  font-family: F37Judge;
  src: url(./assets/fonts/F37Judge-MediumCompressed.woff2)
}

@font-face {
  font-family: Coanda-Bold;
  src: url(./assets/fonts/Coanda-Bold.woff)
}

@font-face {
  font-family: Coanda-Regular;
  src: url(./assets/fonts/Coanda-Regular.woff)
}

@font-face {
  font-family: Inter-Medium;
  src: url(./assets/fonts/Inter-Medium.woff)
}

@font-face {
  font-family: Inter-Regular;
  src: url(./assets/fonts/Inter-Regular.woff)
}

body {
  font-family: Inter-Regular;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 25px;
  overflow-x: hidden;
  box-sizing: border-box;
  background: #000;
  color: #fff;
}

.main_app {
  position: relative;
}